.gold-container {
    text-align: left;
    display: inline-block;
    color: gold;
    border: solid;
    padding: 15px;
    margin: 20px;
    border-radius: 12px;
}

.arc-light-container {
    text-align: left;
    display: inline-block;
    color: rgb(237, 39, 220);
    border: solid;
    padding: 15px;
    margin: 20px;
    border-radius: 12px;
}

.storm-container {
    text-align: left;
    display: inline-block;
    color: lightblue;
    border: solid;
    padding: 15px;
    margin: 20px;
    border-radius: 12px;
}

.checkbox {
    color: blueviolet;
}

.class-title {
    text-decoration: underline;
}